/* Medium */
body {
  background: lightgray;
  height: 100vh;
  color: #141414;
}

.main-container {
  padding: 20px;
}

.main-container .row {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.header{
  display: flex;
  justify-content: space-between;
}
.main-container .web-name {
  padding-right: 15px;
  padding-left: 15px;
  flex: 1 0 auto; /* Ensures columns are flexible but aligned */
}

.main-container .searchBar {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.movie-container {
  position: relative;
  transition: transform 0.2s;
  width: 100%;
  max-width: 200px; /* Adjust the width of the movie posters */
  margin: 10px;
}

.movie-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movie-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0,0,0,.05);
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
}

.details-container h2 {
  font-size: 2em;
  margin: 0 0 1.25rem;
}

.details-container img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 1rem 0;
}

button {
  background: rgb(63,94,251);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: red;
}