/* Medium */
.main-container {
  padding: 1.25rem;
}

.main-container .movie-row {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.header{
  display: flex;
  justify-content: space-between;
}
.main-container .web-name {
  padding: 0 .938rem;
  flex: 1 0 auto;
}

.main-container .searchBar {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.movie-container {
  position: relative;
  transition: transform 0.2s;
  width: 100%;
  max-width: 12.5rem;
  margin: .625rem;
}

.movie-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movie-container .movie-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0,0,0,.05);
  padding: 1.25rem;
  border-radius: .5rem;
  margin: 1.25rem auto;
}

.details-container .details-title {
  font-size: 2rem;
  margin: 0 0 1.25rem;
}

.details-container .details-img {
  width: 12.5rem;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.movie-btn {
  background: rgb(63,94,251);
  color: white;
  border: none;
  padding: .625rem 1.25rem;
  border-radius: .313rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-btn:hover {
  background: red;
}