/* Easy  */
#root {
  max-width: 20%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: crimson;
  border-radius: .5rem;
  border: none;
  box-shadow:0 .25rem .5rem blue;
  padding: .5rem;
}

h1 {
  color: white;
}
